@font-face {
    font-family: 'Muli';
    src: url('Muli-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Muli';
    src: url('Muli-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Muli';
    src: url('Muli-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

